<!-- /.content-wrapper -->
<footer class="main-footer mt-4">
  <strong>Copyright &copy; <span id="year"></span> </strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    Ekata Tech
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>