<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Pilihan</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Pilihan</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="font-weight-bold text-center mb-4">Siapakah yang akan memasang alat KB</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="box2">
                    <div class="col-2">
                        <div class="empty" style="width: 60px; height: 60px; background-color: #BFB5FF;"></div>
                    </div>
                    <div class="col-12">
                        <p class="font-weight-bold">Nama Alat</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum autem facilis eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box2">
                    <div class="col-2">
                        <div class="empty" style="width: 60px; height: 60px; background-color: #BFB5FF;"></div>
                    </div>
                    <div class="col-12">
                        <p class="font-weight-bold">Nama Alat</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum autem facilis eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box2">
                    <div class="col-2">
                        <div class="empty" style="width: 60px; height: 60px; background-color: #BFB5FF;"></div>
                    </div>
                    <div class="col-12">
                        <p class="font-weight-bold">Nama Alat</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum autem facilis eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box2">
                    <div class="col-2">
                        <div class="empty" style="width: 60px; height: 60px; background-color: #BFB5FF;"></div>
                    </div>
                    <div class="col-12">
                        <p class="font-weight-bold">Nama Alat</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum autem facilis eius.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>