<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <h2 data-aos="fade-up">Metode WP</h2>
        <blockquote data-aos="fade-up" data-aos-delay="100">
          <p>Achmad Fahreza Alif Pahlevi - 200605110098</p>
        </blockquote>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->
<%- include layouts/footer.ejs %>
