<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Home</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="font-weight-bold text-center mb-4">Siapakah yang akan memasang alat KB</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-lg-4 col-sm-12 box">
                <p style="font-size: 14px;" class="font-weight-bold">SUAMI</p>
                <p style="text-align:justify; font-size: 12px;">KB akan dilakukan oleh suami. Terdapat dua alat
                    KB yang bisa dipasangkan
                    ke suami yaitu : Kontrasepsi
                    Mantap dan Kondom.</p>
                <div class="btn-wrap d-flex justify-content-end">
                    <a href="/criteria/<%= 'Suami' %>"><button type="button"
                            class="btn btn-primary btn-sm btn-small-custom">Pilih</button></a>

                </div>

            </div>
            <div class="col-lg-4 col-sm-12 box">
                <p style="font-size: 14px;" class="font-weight-bold">ISTRI</p>
                <p style="text-align:justify; font-size: 12px;">KB akan dilakukan olehIstri. Terdapat lima alat
                    KB yang bisa dipasangkan
                    ke istri yaitu : AKDR, AKDK, Kontrasepsi
                    Mantap, Pil, Suntik, dan Alami</p>
                <div class="btn-wrap d-flex justify-content-end">
                    <a href="/criteria/<%= 'Istri' %>"><button type="button"
                            class="btn btn-primary btn-sm btn-small-custom">Pilih</button></a>

                </div>

            </div>
        </div>
    </div>
</div>