<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Pilihan</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Pilihan</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="font-weight-bold text-center mb-4">Berdasarkan prioritas urutan yang anda masukkan, berikut
                    urutan rekomendasi alat KB untuk anda</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="box3">
                    <p class="font-weight-bold">Alat Kontrasepsi Mantab</p>
                    <p>
                        Metode : Jangka Panjang
                        Efektifitas : Sangat Efektif
                        Efek Samping : Lebih Banyak
                        Pengembalian Kesuburan : Segera
                        Harga : Terjangkau
                        Pemasangan : Dengan tenaga kesehatan
                        Kenyamanan saat berhubungan : Tidak mengganggu
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box3">
                    <p class="font-weight-bold">Alat Kontrasepsi Mantab</p>
                    <p>
                        Metode : Jangka Panjang
                        Efektifitas : Sangat Efektif
                        Efek Samping : Lebih Banyak
                        Pengembalian Kesuburan : Segera
                        Harga : Terjangkau
                        Pemasangan : Dengan tenaga kesehatan
                        Kenyamanan saat berhubungan : Tidak mengganggu
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box3">
                    <p class="font-weight-bold">Alat Kontrasepsi Mantab</p>
                    <p>
                        Metode : Jangka Panjang
                        Efektifitas : Sangat Efektif
                        Efek Samping : Lebih Banyak
                        Pengembalian Kesuburan : Segera
                        Harga : Terjangkau
                        Pemasangan : Dengan tenaga kesehatan
                        Kenyamanan saat berhubungan : Tidak mengganggu
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>