<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Kriteria</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Kriteria</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="font-weight-bold text-center mb-4">Tentukan prioritas urutan dalam pemilihan KB untuk anda</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <p class="text-center mb-4">
          Masukkan angka dari 1 - 7 sesuai dengan urutan prioritas kriteria anda. angka terbesar mewakili prioritas paling utama, diikuti dengan angka
          setelahnya sampai dengan angka terkecil.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form action="/priority/add" method="post">
          <% data.forEach(element=> { %>
          <div class="form-group">
            <label for="exampleInputEmail1"> <%= element.nm_kriteria %> </label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="prioritas" />
            <input type="text" class="d-none" name="id_kriteria" value="<%= element.id_kriteria %>" />
            <small id="emailHelp" class="form-text text-muted">Masukkan angka</small>
          </div>
          <% }) %>

          <button type="submit" class="btn btn-primary">Cek Rekomendasi</button>
        </form>
      </div>
    </div>
  </div>
</div>
